body{
    font-family:'Poppins', sans-serif;
    background:#f5f7fb;
}

.navbar{
    background:#b30000;
    padding:15px;
}

.navbar-brand{
    font-size:24px;
}

.nav-link{
    color:white !important;
    margin-left:15px;
}

.hero-section{
    background:white;
    padding:80px 40px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.info-card{
    background:white;
    padding:30px;
    border-radius:15px;
    margin-top:20px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.info-card:hover{
    transform:translateY(-5px);
}

.form-container{
    max-width:500px;
    margin:auto;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

.form-control{
    height:50px;
    border-radius:10px;
}

.btn-danger{
    background:#b30000;
    border:none;
    height:50px;
    border-radius:10px;
    font-weight:600;
}

.table{
    background:white;
    border-radius:15px;
    overflow:hidden;
}