<!DOCTYPE html>
<html>
<head>

<title>Dashboard</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-dark bg-danger p-3">

<div class="container">

<h3 class="text-white">
Blood Donor Dashboard
</h3>

<a href="/logout" class="btn btn-light">
Logout
</a>

</div>

</nav>

<div class="container mt-5">

<div class="row">

<div class="col-md-4">

<div class="card shadow p-4 text-center">

<h3>Search Donor</h3>

<a href="/search" class="btn btn-danger mt-3">
Open
</a>

</div>

</div>

<div class="col-md-4">

<div class="card shadow p-4 text-center">

<h3>Request Blood</h3>

<a href="/request" class="btn btn-danger mt-3">
Open
</a>

</div>

</div>

<div class="col-md-4">

<div class="card shadow p-4 text-center">

<h3>Admin Panel</h3>

<a href="/admin" class="btn btn-danger mt-3">
Open
</a>

</div>

</div>

</div>

</div>

</body>
</html>