{% extends 'layout.html' %}

{% block content %}

<div class="form-container">

<h2 class="text-center mb-4 text-danger">
Emergency Blood Request
</h2>

<form method="POST">

<input type="text" name="patient" class="form-control mb-3" placeholder="Patient Name" required>

<input type="text" name="hospital" class="form-control mb-3" placeholder="Hospital Name" required>

<input type="text" name="blood" class="form-control mb-3" placeholder="Required Blood Group" required>

<input type="text" name="contact" class="form-control mb-3" placeholder="Contact Number" required>

<button class="btn btn-danger w-100">
Send Emergency Request
</button>

</form>

</div>

{% endblock %}