{% extends 'layout.html' %}

{% block content %}

<div class="form-container">

<h2 class="text-center mb-4 text-danger">
Donor Registration
</h2>

<form method="POST">

<input type="text" name="name" class="form-control mb-3" placeholder="Full Name" required>

<input type="text" name="blood" class="form-control mb-3" placeholder="Blood Group" required>

<input type="text" name="location" class="form-control mb-3" placeholder="Location" required>

<input type="text" name="phone" class="form-control mb-3" placeholder="Phone Number" required>

<input type="email" name="email" class="form-control mb-3" placeholder="Email Address" required>

<input type="password" name="password" class="form-control mb-3" placeholder="Password" required>

<button class="btn btn-danger w-100">
Register
</button>

</form>

</div>

{% endblock %}