{% extends 'layout.html' %}

{% block content %}

<div class="form-container">

<h2 class="text-center mb-4 text-danger">
Search Donors
</h2>

<form method="POST">

<input type="text" name="blood" class="form-control mb-3" placeholder="Enter Blood Group">

<button class="btn btn-danger w-100">
Search
</button>

</form>

</div>

{% if donors %}

<div class="table-responsive mt-5">

<table class="table table-bordered table-hover shadow">

<thead class="table-danger">

<tr>

<th>Name</th>
<th>Blood Group</th>
<th>Location</th>
<th>Phone</th>

</tr>

</thead>

<tbody>

{% for donor in donors %}

<tr>

<td>{{ donor[1] }}</td>
<td>{{ donor[2] }}</td>
<td>{{ donor[3] }}</td>
<td>{{ donor[4] }}</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endif %}

{% endblock %}